<h3>Your Question Watch List:</h3>
<ul>
{{#each bookmarkList.questions as |question|}}
<li>{{#link-to 'question' question.id}}{{question.query}}{{/link-to}} - {{question.author}}</li>
{{/each}}
</ul>
