#title {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
}

body {
  background-image: url(blackboard.jpg);
  background-size: cover;
  font-family: 'Cabin Sketch', cursive;
  font-size: 20px;
  color: white;
}
.navbar {
  background-color: #626D5C;
  margin-bottom: 130px;
}

.well {
  background: none;
  color: white;
}

.updateQ {
  margin-top: 15px;
}

.bolded {
  font-weight: bold;
  font-size: 24px;
}

.btn {
  background-color: #BA8D78;
}

.buttonsRight {
  float: right;
}

input, textarea {
  color: black;
  width: 500px;
}

a {
  color: white;
}
