.jumbotron {
  height: 250px;
  background-image: url(/assets/images/whiteboard.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: local;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  font-weight: bold;
  color: #632E4A;
  text-align: center;
  float: right;
  margin-right: 200px;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.glyphicon-question-sign {
  font-size: 12px;
}

.well {
}

.updateQ {
  margin-top: 15px;
}

.bolded {
  font-weight: bold;
  font-size: 24px;
  color: #63CB5C;
}

.btn {
  background-color: #018ED5;
}

.buttonsRight {
  float: right;
}

input, textarea {
  color: black;
  width: 500px;
}

.links {
  margin-left: 20px;
  margin-bottom: 20px;
}

a:hover {
  color: #D14270;
}

a {
  color: #018ED5;
}

.deleteAnswer {
  float:right;
}

.answerDetails {
  font-size: 17px;
}
