<div class="jumbotron">
  <h3 id="title">Hey! Do You Know...?</h3>
</div>
  <h4>{{#link-to 'index' class="links"}}Home{{/link-to}}</h4>
  <h4>{{#link-to 'create' class="links lastOne"}}New Question{{/link-to}}</h4>
<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>
